/* .header */
.header{height: 70px; padding: 0 114px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08); position: relative; /* position: absolute; */ width: 100%; box-sizing: border-box; top: 0; background-color: #fff;}

.header.sticky{position: fixed; z-index: 3;}
.header.sticky h1 a img{width: 80%; transition: all .8s;}
.header.sticky .nav ul li a{font-size: 14px; transition: all .8s;}

.header h1 a img{width: 100%; transition: all .8s;}

.header .nav{display: flex; justify-content: space-between; align-items: center; height: 70px;}

.header .nav ul{display: flex;}

.header .nav ul li{margin-left: 50px; width: 100%; height: 70px;}

.header .nav ul li a{font-size: 18px; color: #333; font-weight: 500; text-transform: uppercase; letter-spacing: 1px; display: block; width: 100%; height: 70px; line-height: 70px; transition: all .8s;}

.header .nav ul li:first-child{margin-left: 0;}

/* //header */

/* #section1 */
#section1{background: url(../img/BG_01.png) no-repeat; background-position: 100% 50%/* 58% */; background-color: #f4f4f4;}

#section1 .container{display: flex; align-items: center; max-width: 1370px; padding: 36px 0 150px; box-sizing: border-box;}
#section1 .container{justify-content: space-between;} /* 전 사진 고르면 삭제 */

#section1 .container>div{max-width: 635px;}

#section1 .container .main_title{padding-left: 26px; box-sizing: border-box;}

/* #section1 .container .main_title .main_text, #section1 .container .main_title .main_text2{font-size: 65px; letter-spacing: 2px; color: #999;} */
#section1 .container .main_title .main_text, #section1 .container .main_title .main_text2{font-size: 80px; letter-spacing: 2px; color: #363636; font-weight: 700; line-height: 1.2em;}

#section1 .container .main_title .main_text{margin: 73px 0 149px;}

#section1 .container .main_title .main_text span{color: #ff845b;}

#section1 .container .main_title .main_text2{display: none;}

#section1 .container .main_title .main_text img{width: 68px; vertical-align: middle;}

/* #section1 .container .main_title .sub_text{font-size: 32px; letter-spacing: 2px; margin-bottom: 82px; color: #999;} */
#section1 .container .main_title .sub_text{font-size: 32px; letter-spacing: 2px; margin-bottom: 82px; color: #363636; font-weight: 500;}

#section1 .container .main_title .main_btn{margin-left: 60px;}

#section1 .container .main_title .main_btn .btn:hover{color: #fff;}

.W{display: none; transition:  all .8s;}
#section1 .container .main_title .main_btn .btn:hover .W{display: inline; transition:  all .8s;}
#section1 .container .main_title .main_btn .btn:hover .B{display: none; transition:  all .8s; transition-delay: 10s;}

#section1 .container .main_title .main_btn .btn_me{margin-right: 50px;}

#section1 .container .main_title .main_btn .btn img{width: 20px; margin-right: 4px; vertical-align: middle;}

#section1 .container .main_photo{text-align: center; max-width: 635px; width: 100%;}

#section1 .container .main_photo img{width: 56%; margin-left: 100px;}
/* #section1 .container .main_photo img{width: 100%;} */

/* .btn */
  .btn:before, .btn:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #FF5E29;
    border-radius: 50%;
  }
  .btn:before {
    z-index: -1;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    left: -20px;
    transform: translate(-50%, -50%);
  }
  .btn:after {
    z-index: -1;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    right: -20px;
    transform: translate(50%, -50%);
  }
  .btn:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
            animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(1, 0.28, 0.14, 1);
  }
  .btn:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
            animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(1, 0.28, 0.14, 1);
  }
  @-webkit-keyframes criss-cross-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      width: 375px;
      height: 375px;
    }
  }
  
  @keyframes criss-cross-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      width: 375px;
      height: 375px;
    }
  }
  @-webkit-keyframes criss-cross-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      width: 375px;
      height: 375px;
    }
  }
  @keyframes criss-cross-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      width: 375px;
      height: 375px;
    }
}
/*  */
/* //#section1 */

/* #section2 */
#section2{background-color: #F5C7A9; box-sizing: border-box;}

#section2 .container{background: url(../img/vitastudio456293-2.png) no-repeat; background-position: -72px center; background-size: 56%;}
/* #section2 .container{background: url(../img/vitastudio456359.png) no-repeat; background-position: -77px center; background-size: 466px;} */

#section2 .container .h2_title{ width: 155px; margin-left: 575.19px;}

#section2 .container .section2_textBox{margin-top: 274.4px; margin-left: 575.19px; display: flex; flex-wrap: wrap; justify-content: space-between; transform: translateX(160%); transition: all .8s;}
#section2 .container .section2_textBox.on{transform: translateX(0); transition: all .8s;}

#section2 .container .section2_textBox .section2_text:nth-child(odd){width: 50%; margin-bottom: 96px;}
#section2 .container .section2_textBox .section2_text:nth-child(even){width: 40%;}

#section2 .container .section2_textBox .section2_text h3{color: #333; font-weight: 500; font-style: italic; font-size: 20px; margin-bottom: 12px; letter-spacing: 0.05em/*  0.8px */;}

#section2 .container .section2_textBox .section2_text p{color: #666; font-size: 16px; letter-spacing: -0.03em /* -0.48px */;}

#section2 .container .section2_textBox .section2_text p span{letter-spacing: 0; color: #333;}

#section2 .container .section2_textBox .section2_text .section2_textP1, .section2_textP4{margin-bottom: 13.66px;}
#section2 .container .section2_textBox .section2_text .section2_textP3{margin-bottom: 25px;}
/* //#section2 */

/* #section3 */

#section3 .container h2{margin-bottom: 61px;}

#section3 .container .skill_boxs{margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; padding: 0 41px; box-sizing: border-box;}

#section3 .container .skill_boxs .skill_box{width: 25%; position: relative;}

#section3 .container .skill_boxs .skill_box:nth-child(5),.skill_box:nth-child(6),.skill_box:nth-child(7),.skill_box:nth-child(8){margin-top: 69px;}

/* 스킬 원 */
#section3 .container .skill_boxs svg{margin: auto; width: 148px; height: 148px; display: block; fill: none; stroke-width: 4; stroke: #ff845b; transform: rotate(-90deg); stroke-dasharray: 440; stroke-dashoffset: 440; stroke-linecap: round;}

#section3 .container .skill_boxs .skill_box h3{position: absolute; left: 50%; top: 36%; transform: translate(-50%, -50%); font-size: 18px; color: #333; font-weight: 500;}


#section3 .container .skill_boxs .skill_box .skill_text{width: 148px; height: 46px; text-align: center; margin: 15px auto 0; line-height: 46px; font-size: 18px; color: #333; font-weight: 500;}

/* //#section3 */

/* #section4 */
#section4{background-color: #F4F5F7; padding: 0 101px;}

#section4 .container h3{text-align: center; font-size: 20px; color: #666; font-weight: 500; letter-spacing: 1px; margin: 50px 0 86px;}

#section4 .container .publ_container{display: flex; flex-wrap: wrap; justify-content: space-between;}

#section4 .container .publ_container .publ_box{overflow: hidden; opacity: 0; transition: all .8s; transform: translateY(50%);}

#section4 .container .publ_container .publ_box:nth-child(3), .publ_box:nth-child(4){margin-top: 100px;}

#section4 .container .publ_container .publ_box .publ_box_wrap{width: 414px; margin: 0 20px;}
#section4 .container .publ_container .publ_box.on{opacity: 1; transition: all .8s; transform: translateY(0);}

#section4 .container .publ_container .publ_box .publ_box_wrap>div{position: relative; margin-bottom: 44px;}

#section4 .container .publ_container .publ_box div .publ_img_blur{ width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7); border-radius: 4px; position: absolute; left: 0; top: 0; opacity: 0; transition: all .6s; overflow: hidden; cursor: pointer; display: flex; align-items: center; justify-content: space-evenly; align-content: center; flex-wrap: wrap;}

#section4 .container .publ_container .publ_box .publ_img_blur>div{width: 50%; text-align: center;}
#section4 .container .publ_container .publ_box .publ_img_blur>div:last-child{text-align: start; width: 83%; margin-top: 28px;}
#section4 .container .publ_container .publ_box .publ_img_blur a{width: 136px; height: 34px; line-height: 34px; font-size: 13px;}

#section4 .container .publ_container .publ_box img{box-shadow: 0px 25px 35px -15px rgba(0, 0, 0, 0.4); height: 100%; display: block;}

#section4 .container .publ_container .publ_box .publ_box_wrap:hover .publ_img_blur{opacity: 1; transition: all .6s;}

#section4 .container .publ_container .publ_box .publ_name{margin-bottom: 32px; font-weight: 500; font-size: 22px; letter-spacing: -0.01em; color: #111; text-align: center;}

#section4 .container .publ_container .publ_box .publ_name.FE{font-weight: 600;}

#section4 .container .publ_container .publ_box .publ_tag{text-align: center;}

#section4 .container .publ_container .publ_box .publ_tag span{font-weight: 400; font-size: 16px; padding: 0 12px; display: inline-block; color: #333;}

/* //#section4 */

/* #section5 */
#section5{background-image: url(../img/design-background.png);}

#section5 .container h2{color: #fdfdfd; margin-bottom: 114px;}

#section5 .container .design_container{display: flex; justify-content: space-between;}

#section5 .container .design_container .design_img{width: 468px; opacity: 0; transform: translateY(180%); transition:all .8s;}
#section5 .container .design_container .design_img.on{opacity: 1; transform: translateY(0%); transition:all 1.8s;}

#section5 .container .design_container .design_img img{width: 100%;}

#section5 .container .design_container .design_text{width: 665px; color: #fdfdfd; margin-top: 108px; opacity: 0; transform: translateX(178%); transition:all .8s;}
#section5 .container .design_container .design_text.on{opacity: 1; transform: translateX(0%); transition:all 1.8s;}

#section5 .container .design_container .design_text h3{font-size: 56px; font-weight: 700; letter-spacing: -1px; margin-bottom: 38px;}

#section5 .container .design_container .design_text p{font-size: 18px; font-weight: 300; letter-spacing: -1px;}

#section5 .container .design_container .design_text>div p:first-child{margin-bottom: 25px;}

#section5 .container .design_container .design_text>div{margin-bottom: 54px;}

#section5 .container .design_container .design_text>.main_btn>a{margin-right: 50px; line-height: 47px; letter-spacing: 0;}

/* //#section5 */

/* #section6 */
/* //#section5 */

/* .footer */
.footer{background-color: #25252B;}
.footer .container{padding: 58px;}
.footer .container div{text-align: center; margin-bottom: 28px;}
.footer p{text-align: center; color: #fdfdfd; font-size: 12px; margin-bottom: 14px;}
/* //.footer */

/* .top_btn */
/* .top_btn{position: fixed; right: calc(114px / 2 * 3); bottom: 100px;}

.top_btn .circle{position: absolute;transition: all .5s; top: 0; left: 0;}

.top_btn .circle a{color: #fdfdfd; box-sizing: border-box;width: 56px; height: 56px; border-radius: 50%; text-align: center; line-height: 56px; display: block; background-color:#FF5E29;}

.top_btn .circle0{z-index: 1;}

.top_btn .circle0.on ~ .circle1{transition: all .5s; top: -64px; left:0px;}
.top_btn .circle0.on ~ .circle2{transition: all .5s; top: -24px; left:-65px;}
.top_btn .circle0.on ~ .circle3{transition: all .5s; top: 45px; left:-45px;}
.top_btn .circle0.on ~ .circle4{transition: all .5s; top: 45px; left:45px;}
.top_btn .circle0.on ~ .circle5{transition: all .5s; top: -24px; left:65px;} */